header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.4rem 2rem 2rem;

    .hamburger-logo-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        .hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            margin-top: 6px;
            cursor: pointer;

            .line {
                background-color: $Dark-grayish-blue;
                width: 1.5rem;
                height: 0.2rem;
            }
        }

        .menu {
            background-color: $Black;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            z-index: 10;

            .slide-menu {
                background-color: $White;
                height: 100%;
                width: 66vw;
                padding: 2.3rem;

                img {
                    transition: transform 0.5s ease;

                    &:hover {
                        cursor: pointer;
                        transform: rotate(90deg);
                    }
                }

                ul {
                    list-style: none;
                    margin-top: 5rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;
                    gap: 2.3rem;

                    li {
                        a,
                        :active,
                        :visited {
                            text-decoration: none;
                            color: $Very-dark-blue;
                        }

                        &:hover {
                            text-decoration: underline;
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

        .hidden {
            display: none;
        }
    }

    .cart-avatar-group {
        display: flex;
        flex-direction: row;
        gap: 2.2rem;
        justify-content: space-between;
        align-items: center;
        gap: 2.2rem;

        .btnCart {
            cursor: pointer;
            position: relative;

            .cart-count {
                position: absolute;
                top: -25%;
                right: -25%;
                background-color: $Orange;
                color: $White;
                font-size: 1rem;
                font-weight: 700;
                line-height: 100%;
                padding: 0.1rem 0.6rem;
                border-radius: 1rem;
            }
        }

        .avatar {
            width: 2.5rem;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                border: 1px solid $Orange;
                border-radius: 50%;
            }
        }
    }

    .cart {
        position: absolute;
        right: 1rem;
        top: calc(calc(7%) + 1rem);
        width: 39.5rem;

        z-index: 1;
        background-color: $White;
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1), 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);

        .cart-header {
            border-bottom: 1px solid $Grayish-blue;
            padding: 2.4rem 2rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .products-in-cart {
            .item {
                margin: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .product-img {
                    width: 5rem;
                    border-radius: 0.5rem;
                }

                .details {
                    color: $Dark-grayish-blue;
                    font-size: 1.6rem;
                    line-height: 2.6rem;

                    .price-group {
                        display: flex;
                        gap: 0.6rem;

                        .total-amount {
                            font-weight: 700;
                            font-size: 1.7rem;
                            color: $Black;
                        }
                    }
                }

                #btnDelete {
                    padding: 0.5rem;
                    border-radius: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        background-color: $Pale-orange;
                    }
                }
            }
        }

        .msg-empty {
            color: $Dark-grayish-blue;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;

            padding: 7.8rem 0;
        }

        .checkout {
            background-color: $Orange;
            color: $White;

            text-align: center;
            font-size: 1.6rem;
            font-weight: 70;

            margin: 2.4rem;
            padding: 1.8rem;

            border-radius: 1rem;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    }

    .hidden {
        display: none;
    }
}
